.header {
  text-align: center;
}

.header h1 {
  font-size: 2.5rem;
  margin-bottom: 0;
}

.searchInput {
  width: 100%;
  max-width: 400px;
  padding: 0.5rem;
  margin: 1rem 0;
  font-size: 1rem;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.artistGrid {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: space-between;
}
  
.artistCard {
  flex: 1 1 calc(25% - 1.2rem);
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 0.75rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  text-align: center;
}
  
.stageCard h2 a {
    color: #333;
    text-decoration: none;
}
  
.btnLink {
    display: inline-block;
    margin-bottom: 1rem;
    padding: 0.5rem 1rem;
    background: #646cff;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    margin-right: 15px;

}

.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.artistImage {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
}